/* 
* @template footer
*/


.sd-footer {
	background: var(--footer-bg);
    padding: 4rem 1rem 1rem 1rem;
    color: var(--white) !important;
}
.sd-footer-inner {
    max-width: var(--container-width);
    margin: auto;
}
.sd-footer-main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: space-between;
    padding-bottom: 4rem;
}
.sd-footer-bio {
    min-width: 400px;
}
.sd-footer-contacts {
    min-width: 215px !important;
}
.sd-footer-bio .site-name {
	display: block;
	font-size: 25px !important;
	font-weight: 700; 
	text-transform: uppercase;
	padding-bottom: 20px !important;
}
.sd-footer-bio a {
    color: var(--accent);
}
.sd-footer-main .footer-header {
    display: block;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 20px;
}
.sd-footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.sd-footer-newsletter form{
	display: flex;
}
.sd-footer-newsletter form button {
	border: none;
	background: var(--accent);
    color: var(--white) !important;
    border-radius: 0 !important;
}
.sd-footer-newsletter form button:hover {
	background: var(--primary);
}
.sd-footer-newsletter form input {
	border: none;
    color: var(--black) !important;
    border-radius: 0 !important;
}

.sd-footer-social {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}
.sd-footer-social a {
    color: var(--white) !important;
    font-size: var(--h4);
    background: var(--primary);
    padding: 0.5rem 1rem;
}
.sd-footer-social a:hover i,
.sd-footer-social a:hover{
    background: var(--accent);
    color: var(--white) !important;
}

.sd-footer a {
    color: var(--white) !important;
}
.sd-footer a:hover {
    text-decoration: underline;
    color: var(--accent);
}
.sd-footer-bottom {
    background: var(--footer-bg);
    border-top: 1px solid var(--primary);
    padding: 1rem;
}
.sd-footer-copyright {
    max-width: var(--container-width);
    margin: auto;
    color: var(--white);
}

.sd-footer-bio a {
    text-decoration: underline !important;
    font-weight: 500 !important;
}
@media (max-width: 768px) {
    .sd-footer-main {
        grid-template-columns: 1fr;
        gap: 1rem;
        padding-bottom: 2rem;
    }
    .sd-footer-bio {
        min-width: 300px !important;
    }
}