:root {
    --primary: #000000;
    --primary-hover: #333333;

    --secondary: #c80303;
    --secondary-hover: #ee0000;

    --header-bg: #000000;
    --footer-bg: #000000;


    --accent: #ff297e;
    --green: #34A853;
    --red: #EE0000;


    
    --white: #FFFFFF;
    --lighter: #f4f4f4;
    --light: #e0e0e0;
    --gray: #787878;
    --black: #333333;

    --h1: 2.5rem;
    --h2: 1.8rem;
    --h3: 1.4rem;
    --h4: 1.25rem;
    --h5: 1.125rem;
    --h6: 1rem;
    --p: 1rem;
    --small: 14px;

    --h1-weight: 800;
    --h2-weight: 600;
    --p-weight: 300;

    --edge-padding: 1rem 1rem;
    --container-width: 1200px;
    --section-spacing: 2rem 0;
}


body {
    margin: 0;
    box-sizing: border-box;
}
body, * {
    font-family: "Outfit", sans-serif;
}
strong {
    font-weight: 600 !important;
}




.sd-container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: var(--edge-padding);
}
section,
.sdl-section-space {
    padding: var(--section-spacing);
}



/* anchors */
main a {
	color: var(--accent) !important;
}
main a:hover {
    text-decoration: underline;
}
/* anchors */




/* buttons */
.sd-btn-primary {
    display: block;
    background: var(--primary);
    color: var(--white) !important;
    padding: 0.8rem 1.5rem;
    font-weight: 600;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
    max-width: max-content;
}
.sd-btn-primary:hover {
    background: var(--primary-hover);
    text-decoration: none !important;
}
.sd-btn-secondary {
    display: block;
    background: var(--secondary);
    color: var(--white) !important;
    padding: 0.8rem 1.5rem;
    font-weight: 600;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
    max-width: max-content;
    text-transform: none !important;
}
.sd-btn-secondary i {
    color: var(--white) !important;
}
.sd-btn-secondary:hover {
    background: var(--secondary-hover);
    text-decoration: none !important;
    color: var(--white) !important;
    box-shadow: 0 0 10px var(--secondary-hover);
}

/* buttons */




/* viewport conditions */
.sd-mobile-only {
    display: none;
}
.sd-desktop-only {
    display: inline-block;
}
@media (max-width: 1024px) {
    .sd-mobile-only {
        display: inline-block;
    }
    .sd-desktop-only {
        display: none !important;
    }
}
/* viewport conditions */
