:root {
    --primary-800: #003C43;
    --primary-600: #135D66;
    --primary-400: #77B0AA;
    --primary-200: #E3FEF7;
    --primary-100: #f6fffc;

    --accent: #ff9800;
    --green: #34a853;
    --red: #EE0000;

    --header-bg: #003C43;
    --footer-bg: #003C43;
    
    --white: #FFFFFF;
    --lighter: #f4f4f4;
    --light: #e0e0e0;
    --gray: #787878;
    --black: #333333;

    --h1: 2.5rem;
    --h2: 1.8rem;
    --h3: 1.4rem;
    --h4: 1.25rem;
    --h5: 1.125rem;
    --h6: 1rem;
    --p: 1rem;
    --small: 14px;

    --h1-weight: 800;
    --h2-weight: 600;
    --p-weight: 300;

    --edge-padding: 1rem 1rem;
    --container-width: 1200px;
    --section-spacing: 2rem 0;
}


body {
    margin: 0;
    box-sizing: border-box;
}
body, * {
    font-family: "Outfit", sans-serif;
}
strong {
    font-weight: 600 !important;
}




.sd-container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: var(--edge-padding);
}
section,
.sdl-section-space {
    padding: var(--section-spacing);
}



/* anchors */
main a {
	color: var(--accent) !important;
}
main a:hover {
    text-decoration: underline;
}
/* anchors */




/* buttons */
.sd-btn-primary {
    display: block;
    background: var(--primary-600);
    color: var(--white) !important;
    padding: 1rem 1.5rem;
    font-weight: 600;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
    max-width: max-content;
}
.sd-btn-primary:hover {
    background: var(--primary-800);
    text-decoration: none !important;
}
.sd-btn-secondary {
    display: block;
    background: transparent;
    color: var(--primary-800) !important;
    padding: 1rem 1.5rem;
    font-weight: 600;
    border: 2px solid var(--primary-600) !important;
    border-radius: 50px;
    transition: 0.2s ease-in-out;
    max-width: max-content;
}
.sd-btn-secondary:hover {
    background: var(--primary-600);
    text-decoration: none !important;
    color: var(--white) !important;

}
a.sd-btn-red{
    text-transform: capitalize !important;
    background: var(--red) !important;
    padding: 0.5rem 1rem !important;
    color: var(--white) !important;
    transition: 0.2s;
    font-weight: 500;
}
a.sd-btn-red:hover i {
    color: var(--white) !important;
}
a.sd-btn-red:hover{
    color: var(--white) !important;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
    text-decoration: none !important;
}
/* buttons */




/* viewport conditions */
.sd-mobile-only {
    display: none;
}
.sd-desktop-only {
    display: inline-block;
}
@media (max-width: 1024px) {
    .sd-mobile-only {
        display: inline-block;
    }
    .sd-desktop-only {
        display: none !important;
    }
}
/* viewport conditions */
