/* 
* @template single
*/


/* SINGLE LAYOUT */
.sdl-review-section {
    display: grid;
    gap: 4rem;
    grid-template-columns: 34% 1fr;
}
.sdl-map-hours-section {
    display: grid;
    gap: 4rem;
    grid-template-columns: 1fr 320px;
}
.sd-rating-progress {
    position: sticky;
    top: 2rem;
}
.admin-bar .sd-rating-progress {
    position: sticky;
    top: 4rem;
}
@media (max-width:1024px) {
    .sdl-review-section,
    .sdl-address-section {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    .sd-rating-progress {
        position: static;
    }
    .admin-bar .sd-rating-progress {
        position: static;
    }

    .sdl-map-hours-section {
        gap: 1rem;
        grid-template-columns: 1fr;
    }
}
/* SINGLE LAYOUT */